@model WebApplication.Models.ViewModels.MessageViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.Messages != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Messages[0].CreatedByUsername)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUsername)
                    </td>
                    <td>
                        @Html.ActionLink("Select", "Index", new { selectedMessage = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Message != null)
{
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.CreatedByUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.CreatedByUsername)
        </dd>

    </dl>
}